body {
	font-family:  'Lobster', cursive;
}
body.avaro {
	background: url("../images/fondoavaro.jpg");
	background-size: cover;
}
body.astronomo {
	background: url("../images/space.jpg");
	background-size: cover;
}
body.zapatero {
	background: url("../images/kingdom.png");
	background-size: cover;
}

body.zapatero .container-fluid {
	background-color: rgba(15, 15, 15, 0.3);
}

#logo img {
	width: 100%;
	max-height: 100vh;
}
#logo {
	margin: 0;
	width: 100%;
	text-align: center!important;
	position: relative;	
}
#logo>.col-sm-12 {
	background-color: transparent;
}
#logo div:last-child {
	position: absolute;
	top: 35%;
	left: 0;
	font-size: 15vw;
	color: #b35a7f;
	text-align: center;
	width: 100%;
}
img {
	max-width: 100%;
}
h1,h2 {
	text-align: center;
	font-size: 4rem;
}

h3 {
	text-align: center;
	font-size: 2.4rem;
}
.fabTxt, .fabTitle {
	color: white;
}

.fabTxt {
	font-size: 3rem!important;
}
.col-sm-4 img {
	border-radius:  1000px;
	-webkit-border-radius:  1000px;
	-moz-border-radius:  1000px;
	border: 2rem solid #b35a7f;
	background-color: #b35a7f;
}
.col-sm-4  {
	padding: 3rem;
}

.col-sm-4 img:hover {
	opacity: 0.5;
	cursor: pointer;
}
.volver1btn {
	font-size: 10vh;
	margin: 10px 20px;
	color: #b35a7f;
}
.volver1btn:hover {
	color: #861f4a;
}
#play:hover {
	color: #861f4a;
	cursor: pointer;
}
#avaro h1 {
	font-size: 2rem;
	overflow: hidden;
}


@keyframes walk {
	0% {
		transform:rotate(10deg);
	}

	33% {
		transform:rotate(-10deg);
	}

	66% {
		transform:rotate(-10deg);
	}

	100% {
		transform:rotate(10deg);
	}
}

@keyframes obs {

	10% {
		transform:rotate(20deg);
	}

	20% {
		transform:rotate(20deg);
	}

	30% {
		transform:rotate(20deg);
	}

	40% {
		transform:rotate(20deg);
	}

	50% {
		transform:rotate(20deg);
	}

	60% {
		transform:rotate(-20deg);
	}

	70% {
		transform:rotate(-20deg);
	}

	80% {
		transform:rotate(-20deg);
	}

	90% {
		transform:rotate(-20deg);
	}

	100% {
		transform:rotate(-20deg);
	}

}

#zapato, #rey {
	display: none;
}

#telescope {
	animation: obs 10s ease infinite;
}

#avaroImg {
	position: relative;
	margin-top: 38%;

}
#avaroSuelto {
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 5%;
	animation:walk 2s ease infinite;
}
#avaroNubes {
	width: 50%;
	position: absolute;
	bottom: 123px;
	left: 130px;
}
#controlesAudio {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 5%;
	right: -69px;
	background-color: #861f4a;
	border-radius:  50px 0 0 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 5rem;
	color: white;
}
#showaudio {
	font-size: 3rem;
	position: absolute;
	left: -0.5rem;
	top: 2.65rem;
	color: white;
	padding: 1rem;
}
#showaudio:hover {

}
#on,#off {
	margin-top: 1.9rem;
	margin-left: 2rem;
	background-color: #b35a7f;
	border-radius:  1000px;
	-webkit-border-radius:  1000px;
	-moz-border-radius:  1000px;
	padding: 0.5rem;	
}
#on,#off:hover {
	opacity: 0.9;
}

.img-logo {
	max-width: 90%;
	margin: 0 auto;
	display: block;
}

#controlesAudio {
	display: none;
}
